<ul id="article">
    <h3><a href="{{link}}">{{headline}}</a></h3>
    <p>{{summary}}</p>

    <div id="userinput">
        <b>Note</b>
        <br>
        <textarea id="bodyInput"></textarea>
      <div id="buttons">
        <div id="actionbutton">
          <button id="makenew" data-id="{{_id}}">Submit</button>
        </div>
        <button id="clearall">Delete</button>
      </div>
    </div>
</ul>
<br>
<br>